<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="oscontent"
		label="JCONFIG_OSCONTENT">

		<field name="nbOSContent" type="text" size="5" default="10" label="PARAMNBMASSCONTENT" description="PARAMNBMASSCONTENT" />
		<field name="nbOSCategories" type="text" size="5" default="10" label="PARAMNBMASSCATEGORIES" description="PARAMNBMASSCATEGORIES" />
		<field name="nbMassSections" type="text" size="5" default="10" label="PARAMNBMASSSECTIONS" description="PARAMNBMASSSECTIONS" />
		<field name="displayWysiwyg" type="radio" default="0" label="PARAMDISPLAYWYSIWYGr" description="PARAMDISPLAYWYSIWYGr">
			<option value="0">Hide</option>
			<option value="1">Show for 1st content</option>
			<option value="2">Show for all contents</option>
		</field>
		<field name="displayAlias" type="radio" default="1" label="PARAMDISPLAYALIAS" description="PARAMDISPLAYALIAS">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
		<field name="displayIntroText" type="radio" default="1" label="PARAMDISPLAYINTROTEXT" description="PARAMDISPLAYINTROTEXT">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
		<field name="displayFullText" type="radio" default="1" label="PARAMDISPLAYFULLTEXT" description="PARAMDISPLAYFULLTEXT">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
		<field name="displayMetaDescription" type="radio" default="0" label="PARAMDISPLAYMETADESCRIPTION" description="PARAMDISPLAYMETADESCRIPTION">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
		<field name="displayMetaKeywords" type="radio" default="0" label="PARAMDISPLAYMETAKEYWORDS" description="PARAMDISPLAYMETAKEYWORDS">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
		<field name="displayMetaRobots" type="radio" default="0" label="PARAMDISPLAYMETAROBOTS" description="PARAMDISPLAYMETAROBOTS">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
		<field name="displayMetaAuthor" type="radio" default="0" label="PARAMDISPLAYMETAAUTHOR" description="PARAMDISPLAYMETAAUTHOR">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_oscontent"
			section="component" />
	</fieldset>
</config>
