.ost-oscontent-container {
    width: 100%;
}
.ost-table-cell-left{
    width: 55%;
}
.ost-table-cell-right{
    width: 42%;
    padding-left: 3%;
}
.ost-table-cell-left,
.ost-table-cell-right{
    display: table-cell;
}
.ost-table-cell-left td{
    vertical-align: top;
}
.ost-table-cell-left td.ost-number strong{
    display: block;
    margin: 5px 0;
    padding-right: 10px;
}
.ost-table-cell-right .radiobtn {
    clear: none;
    padding-right: 10px;
    float: none !important;
}
#menuselect{
    float: left;
}