@media (max-width: 1024px){
    .ost-table-cell-right input,
    .ost-table-cell-right select{
        width: 160px;
    }
}
@media (max-width: 960px){
    .ost-table-cell-right input,
    .ost-table-cell-right select{
        width: 130px;
    }
}
@media (max-width: 900px){
    .row-fluid.ost-oscontent-container .span8.ost-table-cell-left,
    .row-fluid.ost-oscontent-container .span4.ost-table-cell-right{
        float: none;
        width: 100%;
    }
    .ost-medium-sc{
        border-top: none !important;
    }
}
@media (max-width: 768px){
    .ost-oscontent-container td{
        display: block;
    }
}